<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jadwal Kajian Sunnah</title>

    {% load static %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'kajian/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'kajian/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'kajian/vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'kajian/device-mockups/device-mockups.min.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'kajian/css/new-age.min.css' %}" rel="stylesheet">
    <link href="{% static 'kajian/css/custome.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Jadwal Kajian Sunnah</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#download">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#features">Jadwal Terbaru</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Kontak</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <h1 class="mb-5">
                        <em>Katakanlah, apakah sama antara orang yang mengetahui dengan orang yang tidak tahu</em><br>
                        <small>Az Zumar 39 : 9</small>
                    </h1>
                    <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Download</a>
                </div>
            </div>
            <div class="col-lg-5 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!--<img src="{% static 'kajian/img/demo-screen-1.jpg' %}" class="img-fluid" alt="">-->
                            </div>
                            <div class="button">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="download bg-primary text-center" id="download">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="section-heading">Temukan kajian terbaru!</h2>
                <p>Download dan dapatkan informasi kajian terbaru langsung di smarfphone Antum!</p>
                <div class="badges">
                    <a class="badge-link" href="#"><img src="{% static 'kajian/img/google-play-badge.svg' %}"
                                                        alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features" id="features">
    <div class="container">
        <div class="section-heading text-center">
            <h2>Jadwal Kajian terdekat</h2>
            <p class="text-muted">
                "Jika kalian melewati taman syurga maka singgahlah dengan hati senang". <br>
                Para sahabat bertanya, "Apakah taman syurga itu?" Beliau menjawab, "halaqah-halaqah dzikir" (atau
                halaqah ilmu)
                <br>
                (HR.At-Tirmidzi)
            </p>
            <hr>
        </div>
        <div class="row">
            {% if schedule_list %}
                {% for schedule in schedule_list %}
                <div class="col-md-3">
                    <div class="card schedule-card">
                        {% if schedule.photo %}
                            <a href="{% url 'kajian:detail' schedule.id %}">
                                <img class="card-img-top" src="{{ schedule.photo.url }}" alt="{{ schedule.title }}">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text">
                                <a href="{% url 'kajian:detail' schedule.id %}">
                                    {{ schedule.title }}
                                </a><br>
                                <small>
                                    <i class="fa fa-map-marker"></i> {{ schedule.mosque.name }} - {{ schedule.city.name }}<br>
                                    <i class="fa fa-calendar-alt"></i> {{ schedule.start_from }}<br>
                                    <i class="fa fa-user"></i>
                                    {% if schedule.ustad.all %}
                                        {% for ustad in schedule.ustad.all %}
                                            {{ ustad.name }}
                                        {% endfor %}
                                    {% endif %}
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-md-12">
                    <center>
                        <hr>
                        <a href="{% url 'kajian:list' %}" class="btn btn-secondary btn-xl js-scroll-trigger">Selengkapnya</a>
                    </center>
                </div>
            {% else %}
            <div class="col-md-12">
                <center>-tidak ada kajian-</center>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Datang Kajian<br>Perhatikan Materi<br>Amalkan Ilmunya</h2>
            <a href="#features" class="btn btn-outline btn-xl js-scroll-trigger">Kajian terdekat!</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>

<section class="contact bg-primary" id="contact">
    <div class="container">
        <h2>Ingin berkontribusi</h2>
        <ul class="list-inline list-social">
            <li class="list-inline-item social-twitter  d-none">
                <a href="https://www.linkedin.com/in/dsasmita/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li class="list-inline-item social-facebook  d-none">
                <a href="https://fb.com/dadang.sasmita" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="list-inline-item social-google-plus">
                <a href="mailto:dangs.work@gmail.com">
                    <i class="fab fa fa-envelope"></i>
                </a>
            </li>
        </ul>
    </div>
</section>

<footer>
    <div class="container">
        <p>&copy; Jadwal Kajian Sunnah Indonesia</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="https://github.com/dsasmita/jadwal-kajian" target="_blank">Github</a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/dsasmita/" target="_blank">Linkedin</a>
            </li>
        </ul>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'kajian/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'kajian/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'kajian/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'kajian/js/new-age.min.js' %}"></script>

</body>

</html>
